/*
 *  Author: Samuele Girgenti
 *  Date: 25 / 03 / 2021
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 66, 60);
  font-family: Verdana;
}

.graph {
  margin: 30px;
  margin-top: 5vh;

  border-radius: 4px;
  background-color: rgb(242, 242, 242);
}

.graph h1 {
  padding: 10px;
  text-align: center;
}
.graph h3 {
  text-align: center;
}

.graph svg {
  display: block;
  margin: auto;
}

.tile {
  rx: 2px;
  ry: 2px;
}

.tile-text {
  font-size: 7px;
}

#tooltip {
  pointer-events: none;
  width: 200px;
  height: 100px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.864);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.legend-item {
  rx: 3px;
  ry: 3px;
}
