/*
 *  Author: Samuele Girgenti
 *  Date: 22 / 03 / 2021
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 50, 56);
  font-family: Verdana;
}

.graph {
  background-color: rgb(118, 105, 128);
  margin: auto;
  margin-top: 20vh;
  width: 700px;
  height: 400px;
  border-radius: 4px;
}

.bar {
  fill: rgb(22, 168, 161);
}
