code {
  background: #d0d0d5;
}

body {
  background-color: rgb(10, 74, 248);
}

main {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-container,
#output-container {
  border: 2px solid black;
  margin: auto;
  width: 100%;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  resize: none;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

#tool-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

#user-stories {
  font-size: 1.2em;
}

#locale-select {
  margin: 10px;
  width: 100%;
}

#translate-btn {
  margin: auto;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(14, 14, 206);
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;
}

#output-container {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

#solution-container {
  font-weight: bold;
  width: 100%;
}

#solution-container {
  margin-left: 20px;
}

#translated-sentence {
  margin: auto;
  margin-top: 10px;
  font-weight: normal;
  width: 90%;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
}

#text-input {
  padding: 10px;
}

@media (min-width: 800px) {
  .container {
    flex: 1;
    flex-direction: row;
    align-items: stretch;
  }

  .form-container {
    align-self: flex-end;
  }

  #output-container {
    flex-direction: row;
    margin-top: 0px;
    margin-left: 20px;
  }

  #solution-container {
    margin-top: 0;
  }
}
