* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background-color: rgb(235, 200, 0);
}

h1 {
  text-align: center;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
  background-color: rgb(255, 136, 0);
}

.closed {
  background-color: rgb(123, 123, 123);
}

.id {
  font-size: 10.5px;
}
