<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main>
      <section>
        <div class="container">
          <h1>URL Shortener Microservice</h1>
          <form action="api/shorturl/new" method="POST">
            <input
              id="url-input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input id="submit-button" type="submit" value="Submit" />
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
