/*
 *  Author: Samuele Girgenti
 *  Date: 22 / 03 / 2021
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(191, 230, 228);
  font-family: Verdana;
}

.graph {
  margin: auto;
  margin-top: 5vh;
  width: 1300px;
  height: 100%;
  border-radius: 4px;
}

.cell {
  fill: rgb(255, 255, 255);
  /*stroke: rgba(0, 0, 0, 0.507);
  stroke-width: 0.5px;*/
}

.graph h1 {
  text-align: center;
}

.graph h2 {
  text-align: center;
}
