/*
 *    Author:       Samuele Girgenti
 *    Date:         21 / 03 / 2021
 */

$border-radius: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  background: repeating-linear-gradient(
    45deg,
    rgb(77, 169, 245) 0px,
    rgb(77, 169, 245) 150px,
    rgb(79, 160, 226) 150px,
    rgb(79, 160, 226) 200px
  );
  height: 100vh;
  font-size: 40px;
}

#clock {
  background-color: rgb(37, 169, 202);
  width: 47rem;
  margin: auto;
  margin-top: 20vh;
  border-radius: $border-radius;
  box-shadow: 4px 4px 2px black;

  #counters {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #timer {
    margin: auto;
    text-align: center;
    width: 100%;
    #timer-label {
      width: 100%;
    }
  }

  #controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .fa-play,
  .fa-stop {
    display: inline-block;
  }
}

.counter {
  margin: 10px;

  .counter-title {
    display: block;
    text-align: center;
  }

  .counter-content-box {
    background-color: rgb(31, 145, 221);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: $border-radius;
  }

  .counter-plus,
  .counter-minus,
  .counter-number {
    padding: 10px;
  }
}
