<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
  <body>
    <header>
      <h1>Nasdaq Stock Price Checker</h1>
    </header>

    <div id="testui" style="margin-left: 5%">
      <form id="form1" class="border card">
        <h3>Get single price and total likes</h3>
        <input
          type="text"
          name="stock"
          placeholder="goog"
          style="width: 100px"
          required=""
        />
        <label><input type="checkbox" name="like" value="true" /> Like?</label>
        <button type="submit">Get Price!</button>
      </form>
      <div id="single-stock" class="card">
        <h3>Single price</h3>
        <p>Stock: <span id="stock-name"></span></p>
        <p>Price: <span id="stock-price"></span></p>
        <p>Likes: <span id="stock-likes"></span></p>
      </div>
      <form id="form2" class="border card">
        <h3>Compare and get relative likes</h3>
        <input
          type="text"
          name="stock"
          placeholder="goog"
          style="width: 100px"
          required=""
        />
        <input
          type="text"
          name="stock"
          placeholder="msft"
          style="width: 100px"
          required=""
        />
        <label><input type="checkbox" name="like" value="true" /> Like?</label>
        <button type="submit">Get Price!</button>
      </form>

      <div id="multi-stock" class="card">
        <h3>Compare prices</h3>
        <p>Stock: <span id="multi-stock-name-1"></span></p>
        <p>Price: <span id="multi-stock-price-1"></span></p>
        <p>Relative Likes: <span id="multi-stock-likes-1"></span></p>
        <hr />
        <p>Stock: <span id="multi-stock-name-2"></span></p>
        <p>Price: <span id="multi-stock-price-2"></span></p>
        <p>Relative Likes: <span id="multi-stock-likes-2"></span></p>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="./public/index.js"></script>
  </body>
</html>
