


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#drum-machine {
  background-color: red;
  #tabs-box {
    background-color: green;
    .drum-pad {
      background-color: blue;
    }
  }
}