/*
 *    Author:       Samuele Girgenti
 *    Date:         19 / 03 / 2021
 */
#zero {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
  background-color: red;
}

#one {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: one;
  background-color: red;
}

#two {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: two;
  background-color: red;
}

#three {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: three;
  background-color: red;
}

#four {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
  background-color: red;
}

#five {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: five;
  background-color: red;
}

#six {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: six;
  background-color: red;
}

#seven {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
  background-color: red;
}

#eight {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: eight;
  background-color: red;
}

#nine {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
  background-color: red;
}

#decimal {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: decimal;
  background-color: red;
}

#add {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: add;
  background-color: red;
}

#subtract {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: subtract;
  background-color: red;
}

#divide {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: divide;
  background-color: red;
}

#multiply {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: multiply;
  background-color: red;
}

#clear {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: clear;
  background-color: red;
}

#equals {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: equals;
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana;
  background: repeating-linear-gradient(45deg, #e9e9e9 0px, #e9e9e9 450px, #bbbbbb 450px, #bbbbbb 900px);
  height: 100vh;
}

#calculator {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10.71429px;
          column-gap: 10.71429px;
  row-gap: 10.71429px;
  width: 450px;
  height: 600px;
      grid-template-areas: "display display display display" "clear clear divide multiply" "seven eight nine subtract" "four five six add" "one two three equals" "zero zero decimal equals";
  text-align: center;
  margin: auto;
  background-color: #2c2c2c;
  border-radius: 2px;
  padding: 15px;
  margin-top: 30px;
}

#calculator .button {
  width: auto;
  height: auto;
  background-color: #e9e9e9;
  font-size: 25px;
  padding-top: 37.5px;
  border-radius: 3px;
}

#calculator #equals {
  padding-top: 112.5px;
}

#calculator #display-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: display;
  background-color: #bbbbbb;
  padding: 10px;
  text-align: right;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#calculator #display-box .display-top {
  background-color: #e9e9e9;
  margin: 3px;
  width: 100%;
  border-radius: 3px;
}

#calculator #display-box #display {
  background-color: #e9e9e9;
  margin: 3px;
  width: 100%;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */