/*
 *    Author:       Samuele Girgenti
 *    Date:         19 / 03 / 2021
 */

$btn-side: 75px;
$btn-ids: zero, one, two, three, four, five, six, seven, eight, nine, decimal,
  add, subtract, divide, multiply, clear, equals;

@each $btn in $btn-ids {
  ##{$btn} {
    grid-area: #{$btn};
    background-color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  background: repeating-linear-gradient(
    45deg,
    rgb(233, 233, 233) 0px,
    rgb(233, 233, 233) 450px,
    rgb(187, 187, 187) 450px,
    rgb(187, 187, 187) 900px
  );
  height: 100vh;
}

#calculator {
  display: grid;
  column-gap: $btn-side / 7;
  row-gap: $btn-side / 7;
  width: $btn-side * 6;
  height: $btn-side * 8;
  grid-template-areas:
    "display display display display"
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";

  text-align: center;
  margin: auto;
  background-color: rgb(44, 44, 44);
  border-radius: 2px;
  padding: 15px;
  margin-top: 30px;

  .button {
    width: auto;
    height: auto;
    background-color: rgb(233, 233, 233);
    font-size: $btn-side / 3;
    padding-top: ($btn-side / 2);
    border-radius: 3px;
  }

  #equals {
    padding-top: $btn-side * 1.5;
  }

  #display-box {
    grid-area: display;
    background-color: rgb(187, 187, 187);
    padding: 10px;
    text-align: right;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .display-top {
      background-color: rgb(233, 233, 233);
      margin: 3px;
      width: 100%;
      border-radius: 3px;
    }

    #display {
      background-color: rgb(233, 233, 233);
      margin: 3px;
      width: 100%;
      border-radius: 3px;
      flex-grow: 1;
      font-size: 2rem;
    }
  }
}
